<div>
    <div>
        <img [src]="myimage3" alt="">
        <div class="carousel-item active">
            <app-navbar></app-navbar>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-8">
                        <div class="container">
                            <ul>
                                <li *ngFor='let quote of quotes;let i = index'>
                                    <p class="task">"{{quote.quoteit}}"</p>
                                    <p class="task1">~{{quote.quoteauthor}}</p>
                                    <p appStrikethrough class="task2"> Created by: {{quote.name}}</p>
                                    <p>
                                    <button  class="task3" (click)='toggleDetails(i)'>Show More</button>
                                    <button class="task4" (click)="quoteDelete(i)">Delete</button>
                                    </p>
                                    
                                    <app-quotedetails *ngIf='quote.showDescription' [quote]='quote' > </app-quotedetails>
                                </li>
                                
                            </ul>
                        </div>

                    </div>

 <!---->                   
                    <div class="col-4">
                        <app-quoteform (newQuoteclass)="inputquote($event)"></app-quoteform>
                        
                    </div>
                </div>
            </div>
            
        </div>
       
              
        
        
    </div>


</div>









