img{
    height:100%;
    width: 100%;
}
.container{
    width: 95%;
    overflow: hidden;
    margin: 20px auto;
    padding: 20px;
}
.container{
    padding: 0px;
    margin: 0px;
    box-shadow: 2px 4px rgba(227,226,243,0.1), -2px -2px 4px rgba(227,226,243,0.1);

}
.container ul li{
    list-style: none;
    float: left;
    width: 45%;
    height: 220px;
    background-color: #fff;
    margin: 30px 30px 0px 0px;
    
    opacity: 0.9;
}
.form-control{
    position: left;
    padding-left: 0.3rem;
    padding: -0.3rem;
    width: 100%;
    height: 100%;
    font-size: 14px;
    background-color: #f7f7f7;
    font-family: 'Crimson Text', serif;
    margin: 30px 30px 0px 0px;
    
}
.form-text{
    position: center;
    width: 100%;
    padding: 5px;
    font-size: 15px;
    border: 2px solid #ccc7c7;
    font-family: inherit;
    font-family: 'Crimson Text', serif;
    font-size: 18px;
}
.form1{
    padding: 5px 5px;
    margin: center;
    margin: 30px 5px 0px 20px;
    font-family: 'Crimson Text', serif;
    font-size: 18px;
}
.form-control label{
    display: inline-block;
    margin-bottom: 1px;
    font-size: 20px; 
    font-family: 'Playfair Display', serif;
}
.form-control input{
    border: 2px solid #f0f0f0;
    display: block;
    font-family: inherit;
    font-size: 15px;
    
    width: 100%;
}
form button{
    width: 110px;
    height: 35px;
    margin: 0 10px;
    background: linear-gradient(to right, #ff105f, #ffad06);
    border-radius: 30px;
    border: 0;
    outline: none;
    color: #fff;
    cursor: pointer;
    font-family: 'Playfair Display', serif;
    font-size: 18px;
    text-align: center;
    align-items: center;
    align-content: center;

}
.form2{
    
    font-family: 'Playfair Display', serif;
    font-size: 30px;
    color: #f7f7f7;
    
}
.btn {
    align-items: center;
    margin: 20px;
}
.task{
    font-family: 'Crimson Text', serif;
    font-size: 20px;
    text-align: center;
    padding: 5px;
}
.task1{
    font-family: 'Playfair Display', serif;
    text-align: center;
    font-size: 16px;
    margin-top: -12px;
}
.task2{
    align-items: center;
    font-family: monospace bold;
    color: black;
    text-align: center;
    margin-top: -10px;
}
.task3{
    text-align: center;
    font-family: 'Playfair Display', serif;
    width: 90px;
    height: 35px;
    margin: 0 10px;
    background: linear-gradient(to right, #cfbb05, #4806ff);
    border-radius: 30px;
    border: 0;
    outline: none;
    color: #fff;
    cursor: pointer;
    font-family: 'Playfair Display', serif;
    font-size: 15px;
    align-items: center;

}.task4{
    text-align: center;
    font-family: 'Playfair Display', serif;
    width: 90px;
    height: 35px;
    margin: 0 10px;
    background: linear-gradient(to right, #fc0202, #d80b0b);
    border-radius: 30px;
    border: 0;
    outline: none;
    color: #fff;
    cursor: pointer;
    font-family: 'Playfair Display', serif;
    font-size: 15px;
    align-items: center;
}