<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">GITHUB API</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="col-auto">
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav" id="leftside">
          <li class="nav-item active">
            <a class="nav-link" href="#" routerLink="/user">User<span class="sr-only">(current)</span></a>
          </li> 
          <li class="nav-item active">
            <a class="nav-link" href="#" routerLink="/Repository">Repository<span class="sr-only">(current)</span></a>
          </li>
        
        </ul>
      </div>
    </div>
  </nav>