<div class="card">
    <div class="card-header">
        <span class="badge badge-success mr-3">{{githubProfile.followers}} Followers</span>
        <span class="badge badge-danger mr-3">{{githubProfile.public_repos}} Repositories</span>
        <span class="badge badge-primary mr-3">{{githubProfile.public_gists}} Gists</span>
        <span class="badge badge-info mr-3">{{githubProfile.following}} Following</span>
    </div>
    <div class="card-body">
        <ul class="list-group">
            <li class="list-group-item">
                UserName: <span class="font-weight-bold">{{githubProfile.name}}</span>
            </li>
            <li class="list-group-item">
                Location: {{githubProfile.location}}
            </li>
            <li class="list-group-item">
                Email: {{githubProfile.email}}
            </li>
            <li class="list-group-item">
                Company: {{githubProfile.company}}
            </li>
            <li class="list-group-item">
                Blog: {{githubProfile.blog}}
            </li>
            <li class="list-group-item">
                Member Since: {{githubProfile.created_at | date:'short'}}
            </li>
            <li class="list-group-item">
                Profile URL: <a [href]="githubProfile.html_url" target="_blank">{{githubProfile.html_url}}</a>
            </li>
        </ul>

    </div>
</div>