.task5{
    text-align: center;
    font-family: 'Playfair Display', serif;
    width: 90px;
    height: 35px;
    margin: 0 10px;
    background: linear-gradient(to right, #3cfc02, #2bff01);
    border-radius: 30px;
    border: 0;
    outline: none;
    color: #fff;
    cursor: pointer;
    font-family: 'Playfair Display', serif;
    font-size: 15px;
    align-items: center;
}
.task6{
    text-align: center;
    font-family: 'Playfair Display', serif;
    width: 90px;
    height: 35px;
    margin: 0 10px;
    background: linear-gradient(to right, #fc02b1, #ff01b3);
    border-radius: 30px;
    border: 0;
    outline: none;
    color: #fff;
    cursor: pointer;
    font-family: 'Playfair Display', serif;
    font-size: 15px;
    align-items: center; 
}