<form   class="form1" id="form1" (ngSubmit)="addQuoteclass()" #quoteInput="ngForm">
  <label for="" class="form2">Quote Creator</label>
  <div class="">

      <label for="">Your Name:</label>
      <input required type="text"  required minlength="3" class="form-text" id="name"  name="name" placeholder="Your Name " #name ='ngModel'[(ngModel)]="inputquote.name" >
      

      <label for="">Quote:</label>
      <input required type="text" placeholder="Quote" class="form-text" quote="head"  name='quoteit' #quoteit='ngModel'[(ngModel)]="inputquote.quoteit" >

      <label for="">Authors Name:</label>
      <input required type="text" placeholder="Authors Name" class="form-text" author="flower" name="flower" [(ngModel)]='inputquote.quoteauthor' #flower="ngModel" >
      
      <label for="">Creation Date:</label>
      <br>
      <input type="date" id="Date-Picker">
      
      <br>
      <pre></pre>

      <button  class="btn btn-primary" type="submit" required>Create</button>           
  </div>  
</form>