<form   class="form1" id="form1" (ngSubmit)="addQuoteclass()" >
  <label for="" class="form2">Quote Creator</label>
  <div class="">

      <label for="">Your Name:</label>
      <input type="text"  required minlength="3" class="form-text" id="name"  name="name" placeholder="Your Name " >
      

      <label for="">Quote:</label>
      <input type="text" placeholder="Quote" class="form-text" quote="head"  name='quote' >

      <label for="">Authors Name:</label>
      <input type="text" placeholder="Authors Name" class="form-text" author="flower" name="flower"  >
      
      <label for="">Creation Date:</label>
      <br>
      <input type="date" id="Date-Picker">
      
      <br>
      <pre></pre>

      <button  class="btn btn-primary" type="submit">Create</button>           
  </div>  
</form>