<div class="container mt-3">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <h4>GitHub UserName</h4>
                </div>
                <div class="card-body">
                <form action="" class="form-inline" (submit)="searchUser()">
                    <div class="input-group mb-3">
                        <input name="user" [(ngModel)]="githubUserQuery" type="text" class="form-control" placeholder="GitHub UserName" aria-label="GitHub UserName" aria-describedby="button-addon2">
                        <button class="btn btn-info" type="submit" id="button-addon2" value="search">Button</button>
                      </div>
                </form>   
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <app-github-profile [githubProfile]="githubProfile"></app-github-profile>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <app-github-repository ></app-github-repository>
        </div>
    </div>
</div>