.form-text{
    position: center;
    width: 100%;
    padding: 5px;
    font-size: 25px;
    border: 2px solid #ccc7c7;
    font-family: inherit;
    font-family: 'Crimson Text', serif;
    font-size: 18px;
}